﻿@using AdMediaGuru.Models;
@model AdMediaGuru.Web.Models.CampaignSetting
@{
    ViewBag.Title = "CampaignSetting";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";

}



<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
@*<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">*@
<link href="~/Content/font-awesome.min.css" rel="stylesheet">


<div class="container">
    <div class="row">
        <div class="campaignsetting-container">
            <div class="col-lg-10 col-lg-offset-1">
                @using (Ajax.BeginForm("CampaignSetting", "CampaignSetting", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "SuccessCampaignData" }, new { enctype = "multipart/form-data" }))
                {
                    <form id="CampaignForm" action="CampaignSetting/CampaignSetting" method="post" enctype="multipart/form-data">

                        <div class="panel-group">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <h5 class="list-small-group-heading">Campaign Name</h5>
                                            @Html.TextBoxFor(m => m.campaignName, new { @class = "form-control", @id = "txtcampaignname", @placeholder = "Campaign Name" })
                                            @Html.ValidationMessageFor(m => m.campaignName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <h5 class="list-small-group-heading">Brand Name</h5>
                                        @Html.TextBoxFor(m => m.campaignBrandName, new { @class = "form-control", @id = "txtcampaignbrandname", @placeholder = "Brand Name" })
                                        @Html.ValidationMessageFor(m => m.campaignBrandName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <h5 class="list-small-group-heading">Product Category</h5>
                                            <select id="product" name="productCategoryId" class="form-control">
                                                @foreach (var productCategoryId in ViewBag.ProductCategory)
                                                {
                                                    <option value="@productCategoryId.sub_category_id">@productCategoryId.category_text</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group radio-btn">
                                        <div class="col-lg-12">
                                            <h5 class="list-small-group-heading">Objective Of Campaign</h5>
                                            @foreach (var itemObjectiveId in ViewBag.CampaignObjective)
                                            {
                                                <input type="radio" name="campaignObjectiveId" id="@itemObjectiveId.sub_category_id" value="@itemObjectiveId.sub_category_id" />
                                                <label for="@itemObjectiveId.sub_category_id" class="list-small-group-heading">@itemObjectiveId.category_text</label>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h5 class="list-small-group-heading">Kind of audiences you want to reach?</h5>
                                        @{
                                            List<SubCategory> audienceData = ViewBag.AudienceType;
                                            var audienceTypeData = audienceData.Where(c => c.is_parentId == null);
                                            foreach (var audience in audienceTypeData)
                                            {
                                                <div class="form-group media-checkbox audienceType">
                                                    <input type="checkbox" id="@audience.sub_category_id" value="audienceTypeId" name="audienceTypeId" />
                                                    <label for="@audience.sub_category_id" class="list-small-group-heading">@audience.category_text</label>
                                                </div>

                                                var audienceData1 = audienceData.Where(t => t.is_parentId == audience.sub_category_id).OrderBy(t => t.sub_category_id).ToList();
                                                @*foreach (var range in audienceData1)
                                                    {

                                                        <label for="subAudienceTypeRange">@range.category_text</label>
                                                        <div id="slider-range" style="width:25%"></div>
                                                    }*@
                                                <input type="hidden" name="@audience.category_text" id="hdn_slider-range_@(audienceData1.FirstOrDefault().sub_category_id)_@(@audienceData1.LastOrDefault().sub_category_id)" value="@audienceData1.FirstOrDefault().category_text,@audienceData1.LastOrDefault().category_text" />
                                                <label for="subAudienceTypeRange" id="subAudienceTypeRange_@audienceData1.FirstOrDefault().sub_category_id" name="subAudienceTypeRange_@audienceData1.FirstOrDefault().sub_category_id">@audienceData1.FirstOrDefault().category_text</label>
                                                <div id="slider-range_@(audienceData1.FirstOrDefault().sub_category_id)_@(audienceData1.LastOrDefault().sub_category_id)" class="slider-range" style="width:25%"></div>
                                                <label for="subAudienceTypeRange" id="subAudienceTypeRange_@audienceData1.LastOrDefault().sub_category_id">@audienceData1.LastOrDefault().category_text</label>
                                            }
                                        }
                                    </div>
                                </div>
                                <div class="row">
                                    <div id="make_multiple_selection">
                                        <div class="form-group multiselect-dropdown">
                                            <div class="col-lg-12">
                                                <h5 class="list-small-group-heading">Where do you want to advertise or select the region</h5>
                                                <select id="example-getting-started" multiple="multiple" name="select-region" class="form-control">
                                                    @{
                                                        List<SubCategory> regionData = ViewBag.RegionType;
                                                        var optRegionData = regionData.Where(t => t.is_parentId == null);
                                                        foreach (var region in optRegionData)
                                                        {
                                                            var regoinData1 = regionData.Where(t => t.is_parentId == region.sub_category_id).ToList();
                                                            <optgroup label="@region.category_text" class="media-checkbox">
                                                                @foreach (var data in regoinData1)
                                                                {
                                                                    <option class="media-checkbox" value="@data.sub_category_id"> @data.category_text</option>
                                                                }
                                                            </optgroup>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h5 class="list-small-group-heading">Campaign Budget and Duration(Optional)</h5>
                                    </div>
                                    <div>
                                        <div class="col-lg-4">
                                            <h5 class="list-small-group-heading">Budget</h5>
                                            @Html.TextBoxFor(m => m.campaignBudget, new { @class = "form-control", @id = "txtcampaignbudget", @placeholder = "Enter Budget" })
                                            @Html.ValidationMessageFor(m => m.campaignBudget, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-lg-2">
                                            <h5 class="list-small-group-heading">Duration</h5>


                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                    <button type="button" class="duration-left-minus btn btn-danger btn-number" data-type="minus" data-field="">
                                                        <span class="glyphicon glyphicon-minus"></span>
                                                    </button>
                                                </span>
                                                @*@Html.TextBoxFor(m => m.campaignDuration, null, new { @min = "0", @max = "10", type = "text", @class = "form-control input-number", Style = "width:50px; height:33.5px;" })
                                                    @Html.ValidationMessageFor(m => m.campaignDuration, "", new { @class = "text-danger" })*@
                                                <input type="text" id="campaignDuration" name="campaignDuration" data-val="true" class="form-control input-number" data-val-required="Please enter duration ." style="height: 33.5px; width:50px;">
                                                <span class="input-group-btn">
                                                    <button type="button" class="duration-right-plus btn btn-success btn-number" data-type="plus" data-field="">
                                                        <span class="glyphicon glyphicon-plus"></span>
                                                    </button>
                                                </span>
                                            </div>
                                            <span class="field-validation-valid text-danger" data-valmsg-for="campaignDuration" data-valmsg-replace="true"></span>
                                        </div>

                                        <div class="col-lg-3">
                                            <h5 class="list-small-group-heading">Total FCT Seconds</h5>
                                            @Html.TextBoxFor(m => m.campaignTotalFctSeconds, new { @class = "form-control", @id = "txttotalfctseconds", @placeholder = "Enter Total FCT Seconds" })
                                            @Html.ValidationMessageFor(m => m.campaignTotalFctSeconds, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-lg-3">
                                            <h5 class="list-small-group-heading">Total Spots</h5>
                                            @Html.TextBoxFor(m => m.campaignTotalSpots, new { @class = "form-control", @id = "txttotalspots", @placeholder = "Enter Total Spots" })
                                            @Html.ValidationMessageFor(m => m.campaignTotalSpots, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <h5 class="list-small-group-heading">Start Date</h5>

                                            @Html.TextBoxFor(m => m.campaignStartDate, new { @class = "form-control", @id = "campaignStartDate", @placeholder = "Enter Start Date" })
                                            @Html.ValidationMessageFor(m => m.campaignStartDate, "", new { @class = "text-danger" })
                                            
                                            @*<input class="form-control" id="campaignStartDate" type="text" data-val-required="Please enter StartDate ." />
                                                <span class="field-validation-valid text-danger" data-valmsg-for="campaignStartDate" data-valmsg-replace="true"></span>*@
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <h5 class="list-small-group-heading">End Date</h5>

                                        @Html.TextBoxFor(m => m.campaignEndDate, new { @class = "form-control", @id = "campaignEndDate", @placeholder = "Enter End Date" })
                                        @Html.ValidationMessageFor(m => m.campaignEndDate, "", new { @class = "text-danger" })
                                        
                                        @*<input class="form-control" id="campaignEndDate" type="text" data-val-required="Please enter EndDate ." />
                                            <span class="field-validation-valid text-danger" data-valmsg-for="campaignEndDate" data-valmsg-replace="true"></span>*@
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="select-channel">
                                        <div class="form-group">
                                            <div class="col-lg-12">
                                                <h5 class="list-small-group-heading">Select type of channels, days and time </h5>
                                                @{
                                                    List<SubCategory> typeOfChannelData = ViewBag.TypeOfChannel;
                                                    List<SubCategory> typeOfChannelGec = ViewBag.TypeOfChannelGec;
                                                    List<SubCategory> typeOfChannelNews = ViewBag.TypeOfChannelNews;
                                                    var typeOfChannel = typeOfChannelData.Where(c => c.is_parentId == null);
                                                    //var timeRange = typeOfChannelGec.Where(t => t.is_parentId ==).ToList();
                                                    foreach (var channelType in typeOfChannel)
                                                    {

                                                        <div class="form-group media-checkbox radio-btn">
                                                            <input type="checkbox" name="typeOfChannelId" id="@channelType.sub_category_id" value="@channelType.category_text" />
                                                            <label for="@channelType.sub_category_id" class="list-small-group-heading">@channelType.category_text</label>
                                                            <div class="select-sub-channel" style="margin-left:20px;">
                                                                <div class="row">
                                                                    @foreach (var item in typeOfChannelGec)
                                                                    {
                                                                        <div class="col-lg-6">
                                                                            @if (item.control_type == "checkbox")
                                                                            {
                                                                                <input type="@(item.control_type)" value="@item.category_text" name="chk@(channelType.category_text)" id="@(channelType.sub_category_id)_@(item.sub_category_id)" />
                                                                            }
                                                                            else
                                                                            {
                                                                                <input type="@item.control_type" value="@item.category_text" name="radio@(channelType.category_text)" id="@(channelType.sub_category_id)_@(item.sub_category_id)" />
                                                                            }

                                                                            <label for="@(channelType.sub_category_id)_@(item.sub_category_id)" class="list-small-group-heading">@item.category_text</label>
                                                                            @if (item.control_type == "checkbox")
                                                                            {
                                                                                <h4 for="@item.sub_category_id" style="position:relative; font-size:10px; margin-left:25px; margin-top:-3px;">@item.SubCategory1.FirstOrDefault().category_text</h4>
                                                                            }
                                                                        </div>
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                }


                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="text-right login-modal" style="margin:15px 0px; overflow:hidden;">
                            @*<a href="/Home/Home" class="btn btn-default" style="padding:9px 12px;background-color: #d0d0d0;border:none;">Cancel</a>*@
                            <button type="submit" class="btn btn-yellow" style="float:left">Save & Next</button>
                        </div>

                    </form>
                                                    }
            </div>
        </div>
    </div>
</div>

@* script section  *@
@section scripts{
    <script type="text/javascript" src="~/Scripts/Common/Common.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    
       
    <script>

        $(function () {

            $('#campaignStartDate').datepicker({
                format: 'MM/dd/yyyy',
                startDate: truncateDate(new Date()) 
            });
            $('#campaignStartDate').datepicker('setStartDate', truncateDate(new Date())); // <-- SO DOES THIS
        
            $('#campaignEndDate').datepicker({
                format: 'MM/dd/yyyy',
                startDate: truncateDate(new Date())
            });
            $('#campaignEndDate').datepicker('setStartDate', truncateDate(new Date())); // <-- SO DOES THIS
        });
        function truncateDate(date) {
            return new Date(date.getFullYear(), date.getMonth(), date.getDate());
        }
        $(function () {

            $('.select-channel').find('input:checkbox').click(function () {
                if ($(this).prop("checked") == true) {
                    $('.select-sub-channel').find("input[name='chk" + $(this).val() + "']").each(function () {
                        $(this).prop("checked", true);
                    });
                    $('.select-sub-channel').find("input[name='radio" + $(this).val() + "']").first().each(function () {
                        $(this).prop("checked", true);
                    });
                }
                else {
                    $('.select-sub-channel').find("input[name='chk" + $(this).val() + "']").each(function () {
                        $(this).prop("checked", false);
                    });
                    $('.select-sub-channel').find("input[name='radio" + $(this).val() + "']").first().each(function () {
                        $(this).prop("checked", false);
                    });
                }


            });
        });
        $(function () {
            $(".select-sub-channel").find("input").click(function () {
                var selector = $(this).attr("name").replace("chk", '').replace("radio", '');
                if ($("input[name='chk" + selector + "']:checked").length > 0 || $("input[name='radio" + selector + "']:checked").length > 0)
                    $("input[name='typeOfChannelId'][value='" + selector + "']").prop("checked", true);
                else
                    $("input[name='typeOfChannelId'][value='" + selector + "']").prop("checked", false);
            });

        });

        $(function () {
            $(".slider-range").slider({
                range: true,
                //min: 0,
                //max: 100 ,
                //values: [75, 300],
                create: function (event, ui) {
                    var idValues = event.target.id.split('_');
                    var startRange = idValues[1];
                    var endRange = idValues[2];
                    $(this).slider('option', 'min', parseInt($("#subAudienceTypeRange_" + startRange).text()));
                    $(this).slider('option', 'max', parseInt($("#subAudienceTypeRange_" + endRange).text()));
                    EnableDisableSlider(event.target.id);
                },
                slide: function (event, ui) {
                    var idValues = $(this).attr("id").split('_');
                    var startRange = idValues[1];
                    var endRange = idValues[2];
                    $("#subAudienceTypeRange_" + startRange).text(ui.values[0]);
                    $("#subAudienceTypeRange_" + endRange).text(ui.values[1]);
                    //$("#hdn_" + $(this).attr("id")).val($("#" + $(this).attr("id")).slider("value","max"));
                },
                change: function (event, ui) {
                    $("#hdn_" + $(this).attr("id")).val($(this).slider("values"));
                }
            });
            // Grab the click event of check box.
            $(".audienceType").find('input:checkbox').click(function () {
                var id = $(this).parent().next().attr("id").replace("hdn_", "");
                if (this.checked) {
                    // set the slider as enable
                    $("#" + id).slider("option", "disabled", false);
                    $("#hdn_" + id).attr("disabled", false);

                }
                else {
                    // set the slider as disable again when you click to uncheck
                    $("#" + id).slider("option", "disabled", true);
                    $("#hdn_" + id).attr("disabled", true);
                }
            });
        });

        function EnableDisableSlider(id) {
            if ($("#" + id).checked) {
                $("#" + id).slider("option", "disabled", false);
                $("#hdn_" + id).attr("disabled", false);
            }
            else
                $("#" + id).slider("option", "disabled", true);
            $("#hdn_" + id).attr("disabled", true);
        }

        $(function () {
            $('#example-getting-started').multiselect({
                enableClickableOptGroups: true
            });
        });

        $(function () {
            var quantitiy = 0;
            $('.duration-right-plus').click(function (e) {
                // Stop acting like a button
                e.preventDefault();
                // Get its current value
                var currentVal = parseInt($('#campaignDuration').val());
                // If is not undefined
                if (currentVal == 40) {
                    $('input[name="campaignDuration"]').val(currentVal);
                }
                else if (!isNaN(currentVal)) {
                    // Increment
                    $('input[name="campaignDuration"]').val(currentVal + 5);
                }
                else {
                    // Otherwise put a 0 there
                    $('input[name="campaignDuration"]').val(0);
                }


            });
            $('.duration-left-minus').click(function (e) {
                // Stop acting like a button
                e.preventDefault();
                // Get its current value
                var currentVal = parseInt($('#campaignDuration').val());
                // If it isn't undefined or its greater than 0
                if (!isNaN(currentVal) && currentVal > 0) {
                    // Decrement one
                    $('input[name="campaignDuration"]').val(currentVal - 5);
                } else {
                    // Otherwise put a 0 there
                    $('input[name="campaignDuration"]').val(0);
                }

            });

        });
        function SuccessCampaignData(result) {
            if (result == "Success") {
              
                displayBarNotification("Campaign name registered successfully.", "success", 3000);
                window.location.href = '/CampaignSetting/CampaignSetting';
            }
            else if (result == "CampaignNameExists")
                displayBarNotification("Campaign name already exists.", "warning", 3000);
            else
                displayBarNotification("Network Error", "error", 3000);
        }


       
    </script>
}