﻿@model AdMediaGuru.Web.Models.ChannelProgramme
@{
    ViewBag.Title = "ChannelProgramme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="background: #1c1e33;width: 60%;margin:0px auto 0px;"> 
    <h3 class="heading" style="margin-bottom:0;padding:10px;">Step 2 : Channel Programme Information</h3>
</div>
<div class="channelinfo" style="margin:0 auto 20px;">    
    <div class="">
        @using (Ajax.BeginForm("ChannelProgramme", "ChannelProgramme", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "SuccessChannelProgramme" }, new { enctype = "multipart/form-data" }))
        {
            @*<input type="hidden" value="@ViewBag.channelId" id="channelId" />*@
            @Html.HiddenFor(m => m.channelId, new { id = "channelId", Value = @ViewBag.channelId })
            <div class="form-group" style="overflow:hidden">
                <div class="col-lg-4">
                    <label for="programmename"><b>Programme Name</b></label>
                </div>
                <div class="col-lg-8">
                    @Html.TextBoxFor(m => m.channelprogrammename, new { @class = "form-control", @id = "txtchannelprogrammename", @placeholder = "Channel Programme Name" })
                    @Html.ValidationMessageFor(m => m.channelprogrammename, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group" style="overflow:hidden">
                <div class="col-lg-4">
                    <label for="telecastprogrammetype"><b>Telecast Programme Type/Category</b></label>
                </div>
                <div class="col-lg-8">
                    <select class="form-control" name="channelprogrammetypecategoryId">
                        @foreach (var programmeTypeId in ViewBag.getTelecastCategory)
                        {
                            <option value="@programmeTypeId.sub_category_id">@programmeTypeId.category_text</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group" style="overflow:hidden">
                <div class="col-lg-4">
                    <label for="telecastschedule"><b>Telecast Schedule</b></label>
                </div>
                <div class="col-lg-8">
                    <select class="form-control" name="channeltelecastscheduleId">
                        @foreach (var telecastScheduleId in ViewBag.getTelecastSchedule)
                        {
                            <option value="@telecastScheduleId.sub_category_id">@telecastScheduleId.category_text</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group" style="overflow:hidden">
                <div class="col-lg-4">
                    <label for="telecasttime"><b>Telecast Time</b></label>
                </div>
                <div class="col-lg-8">
                    @Html.TextBoxFor(m => m.channeltelecasttime, new { @class = "form-control", @id = "txtchanneltelecasttime", @placeholder = "Telecast Time" })
                    @Html.ValidationMessageFor(m => m.channeltelecasttime, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group" style="overflow:hidden">
                <div class="col-lg-4">
                    <label for="primetime" name="primetime"><b>Prime Time</b></label>
                </div>
                <div class="col-lg-4">
                    <label for="primetimefrom" name="primetimefrom"><b>From</b></label><br />
                    @Html.TextBoxFor(m => m.channelprimetimefrom, new { @class = "form-control", @id = "txtchannelprimetimefrom" })
                    @Html.ValidationMessageFor(m => m.channelprimetimefrom, "", new { @class = "text-danger" })
                </div>
                <div class="col-lg-4">
                    <label for="primetimeto" name="primetimeto"><b>To</b></label><br />
                    @Html.TextBoxFor(m => m.channelprimetimeto, new { @class = "form-control", @id = "txtchannelprimetimeto" })
                    @Html.ValidationMessageFor(m => m.channelprimetimeto, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group" style="overflow:hidden">
                <div class="col-lg-4">
                    <label for="nonprimetime" name="nonprimetime"><b>Non-Prime Time</b></label>
                </div>
                <div class="col-lg-4">
                    <label for="nonprimetimefrom" name="nonprimetimefrom"><b>From</b></label><br />
                    @Html.TextBoxFor(m => m.channelnonprimetimefrom, new { @class = "form-control", @id = "txtchannelnonprimetimefrom" })
                    @Html.ValidationMessageFor(m => m.channelnonprimetimefrom, "", new { @class = "text-danger" })
                </div>
                <div class="col-lg-4">
                    <label for="nonprimetimeto" name="nonprimetimeto"><b>To</b></label><br />
                    @Html.TextBoxFor(m => m.channelnonprimetimeto, new { @class = "form-control", @id = "txtchannelnonprimetimeto" })
                    @Html.ValidationMessageFor(m => m.channelnonprimetimeto, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group" style="overflow:hidden;">
                <div class="col-lg-4">
                    <label for="nonprimetimefrom" name="nonprimetimefrom"><b>Channel Url</b></label>
                </div>
                <div class="col-lg-8">
                    @Html.TextBoxFor(m => m.channelurl, new { @class = "form-control", @id = "txtChannelUrl" })
                    @Html.ValidationMessageFor(m => m.channelurl, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="text-right login-modal">
                <a href="/Home/Home" class="btn btn-default" style="padding:9px 12px;background-color: #d0d0d0;border:none;">Cancel</a>
                <button type="submit" class="btn btn-yellow">Submit</button>
            </div>
        }
    </div>
    @Html.Partial("_LoginPopup")
</div>

<script type="text/javascript" src="~/Scripts/Common/Common.js"></script>

<script type="text/javascript">
    function SuccessChannelProgramme(result) {
        if (result == "Success") {
            displayBarNotification("Programme name registered succesfully.", "success", 3000);
            window.location.href = "/Home/Home";
        }
        else if (result == "ProgrammeExists")
            displayBarNotification("Programme name already exists.", "warning", 3000);
        else
            displayBarNotification("Network Error.Please try again later.", "error", 3000);
    }
</script>


