﻿@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <div class="home-page">
        <div class="col-lg-7">
            <div class="home-banner">
                <img src="~/image/banner.png">
            </div>
        </div>
        <div class="col-lg-4">
            <div class="banner-heading-text">
                <h2 class="text-center">
                    India's largest online media
                    planning and buying platform for
                    Television Advertising
                </h2>
                <p>
                    This is Photoshop's version of Lorem
                    Ipsum. Proin gravi da nibh vel velit auc
                    nisi elit consequat ipsum,
                </p>
                <div class="text-center">
                    @*<button class="btn btn-yellow" >
                        GET STARTED
                    </button>*@
                    <a href="/CampaignSetting/CampaignSetting" class="btn btn-yellow" style="float:left">GET STARTED</a>
                </div>
                <div class="text-center">
                    @*<button class="btn btn-yellow" >
                      REGISTER CHANNEL
                   </button>*@
                    <a href="/ChannelInformation/ChannelInformation" class="btn btn-dark-yellow">REGISTER CHANNEL</a>
                </div>
            </div>
        </div>
    </div>


    <div class="advertise-steps">
        <h2>
            Advertise on TV in <span style="color:#00c1d9;">5</span> Easy Steps
        </h2>
        <ul class="text-center">
            <li>
                <div class="steps-roud-border">
                    <div class="steps-round">
                        <img src="~/image/step-1.png">
                        <h6>Enter Your Campaign Details</h6>
                    </div>
                </div>
                <span class="steps-arrow"><img src="~/image/arrow-right.png"></span>
            </li>
            <li>
                <div class="steps-roud-border">
                    <div class="steps-round">
                        <img src="~/image/step-3.png">
                        <h6>Tv Media Plan</h6>
                    </div>
                </div>
                <span class="steps-arrow"><img src="~/image/arrow-right.png"></span>
            </li>
            <li>
                <div class="steps-roud-border">
                    <div class="steps-round">
                        <img src="~/image/step-5.png">
                        <h6>Easy Pay</h6>
                    </div>
                </div>
                <span class="steps-arrow"><img src="~/image/arrow-right.png"></span>
            </li>
            <li>
                <div class="steps-roud-border">
                    <div class="steps-round">
                        <img src="~/image/step-2.png">
                        <h6>Creative Info</h6>
                    </div>
                </div>
                <span class="steps-arrow"><img src="~/image/arrow-right.png"></span>
            </li>
            <li>
                <div class="steps-roud-border">
                    <div class="steps-round">
                        <img src="~/image/step-4.png">
                        <h6>Review Playout Schedule</h6>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    @Html.Partial("_LoginPopup")
</div>
<script type="text/javascript" src="~/Scripts/Common/Common.js"></script>
