﻿@model AdMediaGuru.Web.Models.ChannelInfo
@{
    ViewBag.Title = "ChannelInformation";
    Layout = "~/Views/Shared/_channelPageLayout.cshtml";
}
<div style="background: #1c1e33;width: 60%;margin: 0px auto;">
    @*#1ab4c7*@
    <h3 class="heading" style="margin-bottom:0;padding:10px;">Step 1 : Channel Information</h3>
</div>
<div class="channelinfo" style="margin:0 auto 20px;">

    <div class="">
        @using (Ajax.BeginForm("ChannelInformation", "ChannelInformation", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "SuccessChannelInfo" }, new { enctype = "multipart/form-data" }))
        {
            <div class="form-group" style="overflow:hidden;">
                <div class="col-lg-4">
                    <label for="channelname"><b>Channel Name</b></label>
                </div>
                <div class="col-lg-8">
                    @Html.TextBoxFor(m => m.channelname, new { @class = "form-control", @id = "txtchannelname", @placeholder = "Channel Name" })
                    @Html.ValidationMessageFor(m => m.channelname, "", new { @class = "text-danger" })
                </div>
            </div>
            @*<div class="form-group" style="overflow:hidden;">
                    <div class="col-lg-4">
                        <label for="channellogo"><b>Channel Logo:-</b></label>
                    </div>
                    <div class="col-lg-8">
                        @Html.TextBoxFor(m => m.channellogo, new { @class = "form-control", @id = "txtusername", @placeholder = "Channel Logo" })
                        @Html.ValidationMessageFor(m => m.channellogo, "", new { @class = "text-danger" })
                    </div>
                </div>*@
            <div class="form-group" style="overflow:hidden;">
                <div class="col-lg-4">
                    <label for="contactperson"><b>Contact Person</b></label>
                </div>
                <div class="col-lg-8">
                    @Html.TextBoxFor(m => m.contactperson, new { @class = "form-control", @id = "txtcontactperson", @placeholder = "Contact Person" })
                    @Html.ValidationMessageFor(m => m.contactperson, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group" style="overflow:hidden;">
                <div class="col-lg-4">
                    <label for="address"><b>Address</b></label>
                </div>
                <div class="col-lg-8">
                    @Html.TextAreaFor(m => m.channeladdress, new { @class = "form-control", @id = "txtaddress", @placeholder = "Address" })
                    @Html.ValidationMessageFor(m => m.channeladdress, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group" style="overflow:hidden;">
                <div class="col-lg-4">
                    <label for="emailid"><b>Contact Number</b></label>
                </div>
                <div class="col-lg-8">
                    @Html.TextBoxFor(m => m.contactnumber, new { @class = "form-control", @id = "txtContactNumber", @placeholder = "Contact Number" })
                    @Html.ValidationMessageFor(m => m.contactnumber, "", new { @class = "text-danger", @type = "number", @min = "0" })
                </div>
            </div>
            <div class="form-group" style="overflow:hidden;">
                <div class="col-lg-4">
                    <label for="country"><b>Country</b></label>
                </div>
                <div class="col-lg-8">

                    <select class="form-control" name="channelcountryId">
                        @foreach (AdMediaGuru.Models.SubCategory objCountry in ViewBag.countryInfo)
                        {
                            <option value="@objCountry.sub_category_id">@objCountry.category_text</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group" style="overflow:hidden;">
                <div class="col-lg-4">
                    <label for="state"><b>State</b></label>
                </div>
                <div class="col-lg-8">
                    <select class="form-control" name="channelstateId">
                        @foreach (AdMediaGuru.Models.SubCategory objState in ViewBag.stateInfo)
                        {
                            <option value="@objState.sub_category_id">@objState.category_text</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group" style="overflow:hidden;">
                <div class="col-lg-4">
                    <label for="emailid"><b>Email Id</b></label>
                </div>
                <div class="col-lg-8">
                    @Html.TextBoxFor(m => m.channelemail, new { @class = "form-control", @id = "txtemailid", @placeholder = "Email Address" })
                    @Html.ValidationMessageFor(m => m.channelemail, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group" style="overflow:hidden;">
                <div class="col-lg-4">
                    <label for="password"><b>Password</b></label>
                </div>
                <div class="col-lg-8">
                    @Html.TextBoxFor(m => m.channelpassword, new { @class = "form-control", @id = "txtpassword", @placeholder = "Password", @type = "password" })
                    @Html.ValidationMessageFor(m => m.channelpassword, "", new { @class = "text-danger" })
                </div>
            </div>
                    <div class="text-right login-modal">
                        <a href="/Home/Home" class="btn btn-default" style="padding:9px 12px;background-color: #d0d0d0;border:none;">Cancel</a>
                        <button type="submit" class="btn btn-yellow">Submit</button>
                    </div>
        }
    </div>
</div>

<script type="text/javascript" src="~/Scripts/Common/Common.js"></script>
<script type="text/javascript">
    function SuccessChannelInfo(result) {
        if (result == "Success") {
            displayBarNotification("Channel registration successfully.", "success", 3000);
            window.location.href = '/ChannelProgramme/ChannelProgramme';
        }
        else if (result == "ChannelExists")
            displayBarNotification("Channel name already exists.", "warning", 3000);
        else if (result == "UserExists")
            displayBarNotification("User eamilId already exists.", "warning", 3000);
        else
            displayBarNotification("Network error", "error", 3000);
    }
</script>
