﻿@model AdMediaGuru.Web.Models.User
@{
    ViewBag.Title = "ForgetPassword";
    Layout = "~/Views/Shared/_channelPageLayout.cshtml";

}
<div style="background: #1c1e33;width: 40%;margin:0px auto 0px;">
    <h3 class="heading" style="margin-bottom:0;padding:10px;">Forget Password</h3>
</div>
<div class="sign-up" style="margin:0 auto 20px;">    
    <div class="">
        @using (Ajax.BeginForm("ForgetPassword", "ForgetPassword", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "SuccessSignUp" }, new { enctype = "multipart/form-data" }))
        {
            <div class="form-group">
                <label><b>Email Id</b></label>
                @Html.TextBoxFor(m => m.user_emailId, new { @class = "form-control", @id = "txtUserEmailId", @placeholder = "Email Id" })
                @Html.ValidationMessageFor(m => m.user_emailId, "", new { @class = "text-danger" })
            </div>

            <div class="text-right login-modal">
                <button type="submit" class="btn btn-yellow">Submit</button>
            </div>
        }
    </div>
</div>
@Html.Partial("_LoginPopup")
<script type="text/javascript" src="~/Scripts/Common/Common.js"></script>


