﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


</head>


<body>
    <div id="bar-notification" class="bar-notification">
        <span class="close" title="Close"><i class="fa fa-times" aria-hidden="true"></i></span>
    </div>
    <div class="header-main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 text-center">
                    <div class="navbar-header">
                        <a class="logo" href="/Home/Home">
                            <img src="~/image/logo.png" />
                        </a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/CampaignSetting/CampaignSetting">MY CAMPAIGN</a></li>
                        <li><a href="/Transaction/Transaction">TRANSACTIONS</a></li>
                        <li style="margin:0px;">
                            <button type="button" class="btn" data-toggle="modal" data-target="#myModal1" style="background:#fff;">LOGIN</button>
                            @*@if (Convert.ToString(HttpContext.Current.Session["SESSION_CURRENTUSER_EMAIL_ID"]) == "")
                            {

                            <button type="button" class="btn" data-toggle="modal" data-target="#myModal1" style="background:#fff;">LOGIN</button>
                            }
                            else
                            {

                            <div class="dropdown">
                                <a class="btn btn-default dropdown-toggle" href="" data-toggle="dropdown">
                                    @HttpContext.Current.Session["SESSION_CURRENTUSER_EMAIL_ID"].ToString()
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="/Transaction/Transaction">My transaction</a></li>
                                    <li><a href="/Home/Logout">Logout</a></li>
                                </ul>
                            </div>
                            }*@
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <div class="advertise-steps-for-initial-layout">
        <h2>
            Advertise on TV in <span style="color:#00c1d9;">5</span> Easy Steps
        </h2>
        <ul class="text-center">
            <li>
                <div class="steps-round-border">
                    <div class="steps-sm-round">
                        <h6>1</h6>
                    </div>
                </div>
                <span class="steps-sm-arrow"><img src="~/image/arrow-right.png"></span>
            </li>
            <li>
                <div class="steps-round-border">
                    <div class="steps-sm-round">
                        <h6>2</h6>
                    </div>
                </div>
                <span class="steps-sm-arrow"><img src="~/image/arrow-right.png"></span>
            </li>
            <li>
                <div class="steps-round-border">
                    <div class="steps-sm-round">
                        <h6>3</h6>
                    </div>
                </div>
                <span class="steps-sm-arrow"><img src="~/image/arrow-right.png"></span>
            </li>
            <li>
                <div class="steps-round-border">
                    <div class="steps-sm-round">
                        <h6>4</h6>
                    </div>
                </div>
                <span class="steps-sm-arrow"><img src="~/image/arrow-right.png"></span>
            </li>
            <li>
                <div class="steps-round-border">
                    <div class="steps-sm-round">
                        <h6>5</h6>
                    </div>
                </div>
            </li>
        </ul>
        <div>
           
            <ul class="nav nav-pills nav-justified thumbnail">
                <li class="active">
                    <a href="#">
                        <h4 class="list-group-item-heading"> CAMPAIGN SETTINGS</h4>
                    </a>
                </li>
                <li class="disabled">
                    <a href="#">
                        <h4 class="list-group-item-heading">TV MEDIA PLAN</h4>
                    </a>
                </li>
                <li class="disabled">
                    <a href="#">
                        <h4 class="list-group-item-heading">PAYMENT</h4>
                    </a>
                </li>
                <li class="disabled">
                    <a href="#">
                        <h4 class="list-group-item-heading">CREATIVE INFO/UPLOAD</h4>
                    </a>
                </li>
                <li class="disabled">
                    <a href="#">
                        <h4 class="list-group-item-heading">PLAYOUT SCHEDULE</h4>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="">
        @RenderBody()
        <footer class="footer-main">
            <div class="row">
                <div class="col-lg-5">
                    <div class="footer-text">
                        <h4>ABOUT COMPANY</h4>
                        <p class="">
                            This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
                        </p>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="footer-text">
                        <h4>OUR COMPANY</h4>
                        <ul class="">
                            <li>
                                <a href="">Home</a>
                            </li>
                            <li>
                                <a href="">About us</a>
                            </li>
                            <li>
                                <a href="">Contact us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <footer class="footer-copyright">
            <p style="color:#fff;margin-bottom:0px;">Copyright © @DateTime.Now.Year <span style="color:#fff">www.tv.com.</span>All rights reserved.</p>
        </footer>

    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery-Unobtrusive")
    @RenderSection("scripts", required: false)
</body>
</html>
