﻿<div class="login-modal">
    <div id="myModal1" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Login</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control" placeholder="Email" id="txtLoginEmail">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" placeholder="Password" id="txtLoginPassword">
                    </div>
                    <div class="signin-link">
                        <span>
                            Do not have an account ?
                            <a href="/SignUp/SignUp">Sign in</a>
                        </span>
                    </div>

                    <div class="signin-link">
                        <span>
                            <a href="/ForgetPassword/ForgetPassword">Forget Password ?</a>
                        </span>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" style="padding:9px 12px;background-color: #d0d0d0;border:none;">Cancel</button>
                    <button type="button" class="btn btn-yellow" onclick="btnLoginClick()">Login</button>
                </div>
            </div>
        </div>
    </div>
</div>
