﻿
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Transaction</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="header-main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 text-center">
                    <div class="navbar-header">
                        <a class="logo" href="/Home/Home">
                            <img src="~/image/logo.png" />
                        </a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <ul class="nav navbar-right">
                        <li style="float:left;"><a href="/CampaignSetting/CampaignSetting" style="padding:5px 15px;">MY CAMPAIGN</a></li>
                        <li style="float:left;"><a href="/Transaction/Transaction" style="padding:5px 15px;">TRANSACTIONS</a></li>
                        <li style="margin:0px;float:left;">
                            @if (Convert.ToString(HttpContext.Current.Session["SESSION_CURRENTUSER_EMAIL_ID"]) == "")
                            {

                                <button type="button" class="btn" data-toggle="modal" data-target="#myModal1" style="background:#fff;">LOGIN</button>
                            }
                            else
                            {

                                <div class="dropdown">
                                    <a class="btn btn-default dropdown-toggle" href="" data-toggle="dropdown">
                                        @HttpContext.Current.Session["SESSION_CURRENTUSER_EMAIL_ID"].ToString()
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/Transaction/Transaction">My transaction</a></li>
                                        <li><a href="/Home/Logout">Logout</a></li>
                                    </ul>
                                </div>
                            }
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="">
        @RenderBody()
        <footer class="footer-main">
            <div class="row">
                <div class="col-lg-5">
                    <div class="footer-text">
                        <h4>ABOUT COMPANY</h4>
                        <p class="">
                            This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
                        </p>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="footer-text">
                        <h4>OUR COMPANY</h4>
                        <ul class="">
                            <li>
                                <a href="">Home</a>
                            </li>
                            <li>
                                <a href="">About us</a>
                            </li>
                            <li>
                                <a href="">Contact us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <footer class="footer-copyright">
            <p style="color:#fff;margin-bottom:0px;">Copyright © @DateTime.Now.Year <span style="color:#fff">www.tv.com.</span>All rights reserved.</p>
        </footer>
    </div>
</body>
</html>
