﻿@model AdMediaGuru.Web.Models.User
@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="background: #1c1e33;width: 40%;margin:0px auto 0px;">
    <h3 class="heading" style="margin-bottom:0;padding:10px;">Sign In</h3>
</div>
<div class="sign-up" style="margin:0 auto 20px;">
    <div class="">
        @using (Ajax.BeginForm("SignUp", "SignUp", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "SuccessSignUp" }, new { enctype = "multipart/form-data" }))
        {
            <div class="form-group">
                <label>Your Name</label>
                @Html.TextBoxFor(m => m.user_name, new { @class = "form-control", @id = "txtUserName", @placeholder = "Your Name" })
                @Html.ValidationMessageFor(m => m.user_name, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label>Company Name</label>
                @Html.TextBoxFor(m => m.user_company_name, new { @class = "form-control", @id = "txtUserCompanyName", @placeholder = "Company Name" })
                @Html.ValidationMessageFor(m => m.user_company_name, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label>Select State</label>
                <select class="form-control" name="user_state">
                @foreach (AdMediaGuru.Models.SubCategory objState in ViewBag.stateInfo)
                {
                        <option value="@objState.category_text">@objState.category_text</option>
                }
                </select>
            </div>
            <div class="form-group">
                <label>Email Id</label>
                @Html.TextBoxFor(m => m.user_emailId, new { @class = "form-control", @id = "txtUserEmailId", @placeholder = "Email Id" })
                @Html.ValidationMessageFor(m => m.user_emailId, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label>Mobile Number</label>
                @Html.TextBoxFor(m => m.user_phone, new { @class = "form-control", @id = "txtUserPhone", @placeholder = "Mobile Number" })
                @Html.ValidationMessageFor(m => m.user_phone, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label>Password</label>
                @Html.TextBoxFor(m => m.user_password, new { @class = "form-control", @id = "txtUserPhone", @placeholder = "Password", @type = "Password" })
                @Html.ValidationMessageFor(m => m.user_password, "", new { @class = "text-danger" })
            </div>
            <div class="text-right login-modal">
                <a href="/Home/Home" class="btn btn-default" style="padding:9px 12px;background-color: #d0d0d0;border:none;">Cancel</a>
                <button type="submit" class="btn btn-yellow">Submit</button>
            </div>
        }
    </div>
    @Html.Partial("_LoginPopup")
</div>

<script type="text/javascript" src="~/Scripts/Common/Common.js"></script>
<script type="text/javascript">
    function SuccessSignUp(result)
    {
        if (result == "Success")
        {   
            $("input[type='text']").val('');
            displayBarNotification("User Sign up success", "success", 3000);
            window.location.href = '/Home/Home';
        }
        else if (result == "UnSuccess")
            displayBarNotification("Email id already exists", "warning", 3000);
        else
            displayBarNotification("Network error", "error", 3000);
    }
</script>

