﻿/* Home page start */
h2,ul,li {
    margin:0;
    padding:0;
    list-style:none;
}
label {
    color: #292929;
    font-weight: normal;
    font-size: 13px;
    
}
.form-control {
    border-radius: 0;
}
.form-control:focus{
    border-color: #00acc1;
    outline: 0;
}
.display-block {
    display:block !important;
}
.home-page {
  background-image: url("../images/home-bg.png");
  background-color: #00acc1;
  display: table;
}
.navbar-nav li {
  float:left;
}
.header-main {
  background:#1ab4c7;
  padding: 0px 20px;
  height: 60px;
  line-height: 50px;
}
.header-main .btn {
    color:#292929 !important;
    padding:6px 12px !important;
    display:inline-block !important;
    margin-top:5px !important;
}
.header-main .nav>li>a:focus, .header-main .nav>li>a:hover {
  background:#5fcbd8;
  color:#1c1e33;
}
.header-main .navbar-nav>li>a {
  padding-top: 20px;
  padding-bottom: 20px;
}
.nav>li>a {
  color:#fff;
}
.banner-heading-text {
  margin-top: 50px;
}
.banner-heading-text h2 {
  color:#fff;
  margin-bottom:30px;
}
.banner-heading-text p {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 14pt;
}
.btn-yellow {
  background: rgb(253, 216, 53);
  padding: 15px 30px;
  font-weight: 600;
  
  /*float:left;*/
}
.btn-dark-yellow {
    background: rgb(247, 205, 19);
    padding: 15px 30px;
    font-weight: 600;
}
.advertise-steps {
    background-color:#1c1e33;
    padding-bottom:90px;
    padding-top:1px;
}
.advertise-steps h2 {
    text-align:center;
    font-size:30px;
    padding: 50px;
    color:#fff;
    text-transform:uppercase;
}
.advertise-steps ul {
    margin-top:30px;
}
.advertise-steps ul li {
    display:inline-block;
    width:18%;
    position:relative;
}
.steps-round h6 {
    font-size:13px;
    color:#fff;
    line-height: 18px;
}
.steps-round {
    background: rgb(0, 172, 193);
    border-radius: 100%;
    display: inline-block;
    padding: 22px 10px;
    vertical-align: middle;
    height: 130px;
    width: 130px;
}
.steps-roud-border {
    height: 150px;
    border: 2px dashed rgb(0, 172, 193);
    width: 150px;
    border-radius: 50%;
    padding: 8px;
}
.steps-arrow {
    position: absolute;
    top: 70px;
    right: 45px;
    color: rgb(255, 255, 255);
}
.footer-main {
    background:#263238;
    padding: 40px 100px;
}
.footer-text {
    color:#fff;
    padding: 0px 30px 0 0;
}
.footer-text h4 {
    color:#00acc1;
    margin-bottom:20px;  
}
.footer-text ul li a {
    color:#fff;
    margin-bottom: 6px;
    display: block;
    text-decoration:none;
}
.footer-copyright {
    background:#1d2b32;
    padding: 5px 15px;
    font-size: 12px;
    line-height: 23px;
}
.login-modal .modal-header {
    text-align:center;
    border-bottom:none;
    background: #1ab4c7;
    color: #fff;
}
.login-modal .modal-footer {
    border:none;
    margin-top:0;
    padding:0px 20px 15px;
}
.login-modal .modal-header .close {
    color: #fff;
    opacity: 1;
}
.login-modal .btn-yellow{
    background: rgb(253, 216, 53);
    padding: 8px 20px;
    
}
.sign-up {
    width: 40%;
    margin: 20px auto;
    background: #ececec;
    padding: 30px;
}
/*#region Bar Notification */
.bar-notification{display:none;left:0;right:0;position:fixed;top:0;width:-moz-fit-content;width:fit-content;max-width:472px;z-index:100000;margin:auto;border-radius:0px 0px 4px 4px;font-size:13px;font-weight:bold;color:#fff;-webkit-animation-duration:0.5s;animation-duration:0.5s;-moz-animation-duration:0.5s;-webkit-animation-fill-mode:both;animation-fill-mode:both;-moz-animation-fill-mode:both;-webkit-animation-name:barInDown;animation-name:barInDown;-moz-animation-name:barInDown}
@-webkit-keyframes barInDown {from { -webkit-transform: translate3d(0, -100%, 0);visibility: visible;}to {-webkit-transform: translate3d(0, 0, 0);}}
@keyframes barInDown {from { transform: translate3d(0, -100%, 0);visibility: visible;}to {transform: translate3d(0, 0, 0);}}
@-moz-keyframes barInDown {from { -moz-transform: translate3d(0, -100%, 0);visibility: visible;}to {-moz-transform: translate3d(0, 0, 0);}}
.bar-notification.bar-success{background:#06a534;}
.bar-notification.bar-error{background:#bd362f;}
.bar-notification.bar-warning{background:#e7a60a;}
.bar-notification.bar-warning:before{content:'';background:url(../Images/final-images/alerticon.png) no-repeat;position:absolute;left:10px;height:18px;width:21px;top:10px;}
.bar-notification.bar-success:before,.bar-notification.bar-error:before{content:'';background:url(../Images/final-images/alerticon1.png) no-repeat;position:absolute;left:10px;height:20px;width:21px;top:10px;}
.bar-notification.bar-error:before{content:'';background:url(../Images/final-images/alerticon2.png) no-repeat;position:absolute;left:10px;height:20px;width:21px;top:10px;}
.bar-notification.bar-info:before{content:'';background:url(../Images/final-images/alerticon3.png) no-repeat;position:absolute;left:10px;height:20px;width:21px;top:10px;}
.bar-notification.bar-info{background:#2f96b4;}
.bar-notification .close{cursor:pointer;float:right;margin:5px 6px 0 0;font-size:14px;opacity:0.35}
.bar-notification p.content{margin:10px 0;padding:0 40px;}
/*#region Bar Notification End */

/*region initial pages */
.advertise-steps-for-initial-layout {
    background-color:#1c1e33;
    padding-bottom:0px;
}
.advertise-steps-for-initial-layout h2 {
    text-align:center;
    font-size:20px;
    padding: 25px;
    color:#fff;
    text-transform:uppercase;
    margin:0px;
}
.advertise-steps-for-initial-layout ul {
    margin-top:20px;
}
.advertise-steps-for-initial-layout ul li {
    display:inline-block;
    width:18%;
    position:relative;
}
.steps-sm-round h6 {
    font-size:25px;
    color:#fff;
    line-height: 0px;
}
.steps-sm-round {
    background: rgb(0, 172, 193);
    border-radius: 100%;
    display: inline-block;
    padding: 22px 10px;
    vertical-align: middle;
    height: 60px;
    width: 60px;
}
.steps-round-border {
    height: 70px;
    border: 2px dashed rgb(0, 172, 193);
    width: 70px;
    border-radius: 50%;
    padding: 3px;
}
.steps-sm-arrow{
    position: absolute;
    top: 25px;
    right: 142px;
    color: rgb(255, 255, 255);
}
/*region initial layout end*/

/*navigation tabs css*/
.list-group-item-heading {
     margin:0px;
}
.list-group-item-heading {
    font-size:14px;
    color:white;
}
h4{
    font-size:14px;
}
.nav{
    padding-left:0px;
    margin-bottom:0px;
    list-style:none;
}
.thumbnail {
   display:block;
   height:auto;
   max-width:100%;
   padding:0px;
   background-color:#1c1e33;
   border:none;
   border-radius:0px;

}
.nav-pills li  {
    border-radius:5px;
    color:#fff;
    background-color:#1c1e33
} 
.nav-justified li a{
    text-align:center;
    background-color:#1c1e33
}

 /*channel information page*/
 .channelinfo {
    width: 60%;
    margin: 20px auto;
    background: #ececec;
    padding: 30px;
}

.adMediaCollapse .fa-caret-right:before{content: "\f0d7";}
.adMediaCollapse .collapsed .fa-caret-right:before{content: "\f0da";}
.heading { color: #ffffff;text-align:center; padding-bottom:20px; }
.header-main .dropdown-menu li {width:100%;}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {background-color: #00acc1;}


.datepicker
{
    width:305px; 
    margin: 0 20px 20px 20px;

}
.datepicker > span:hover
{
    cursor: pointer;

}

.campaignsetting-container {
    padding: 40px 0;
  
}  
/*Check Box*/
.media-checkbox input[type="checkbox"] {
    clip: rect(0, 0, 0, 0);
    position: absolute;
}
.media-checkbox {
    position:relative;
    margin:0px;
}
.media-checkbox label {
    padding: 4px 5px 0px 26px;
    width: 100%;
    font-size: 12px;
    color: #6a6c6f;
}
.media-checkbox label::before {
    top: 5px;
    position: absolute;
    left: 3px;
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #fff;
    font-weight: bold;
    border: 1px solid #00acc1;
}
.media-checkbox input[type="checkbox"]:checked ~ label::before,  .media-checkbox.active label::before {
    background-color: #00acc1;
    font-size: 9px;
    color: #fff;
    text-align: center;
    line-height: 11px;
    content: '\f00c';
    font-family: 'FontAwesome',sans-serif;
    border: 1px solid #00acc1;
    font-weight: normal;
}
.multiselect-container>li.multiselect-group.media-checkbox label::before {
    left:8px;
}

.multiselect-container li.media-checkbox label::before{
    left:14px;
}
.multiselect-container>li.media-checkbox.active label::before {
    border: 1px solid #fff;
}
.multiselect-container>li>a>label {
   padding: 3px 20px 3px 35px !important;
}
.multiselect-container>li.multiselect-group label {
        padding: 3px 25px !important;
}
.media-checkbox.active label {
    color:#fff;
}
/*Radio Button*/
.radio-btn input[type="radio"] {
    position: absolute;
    opacity: 0;
}
.radio-btn label {
    padding: 3px 10px 0 25px;
    position:relative;
    display:inline-grid;
}
.radio-btn input[type="radio"]:checked + label:before {
    background: #00acc1;
}
.radio-btn input[type="radio"] + label:before {
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    height: 14px;
    width: 14px;
    background: white;
    border: 1px solid #00acc1;
    box-shadow: inset 0px 0px 0px 2px white;
    -webkit-box-shadow: inset 0px 0px 0px 2px white;
    -moz-box-shadow: inset 0px 0px 0px 2px white;
    -o-box-shadow: inset 0px 0px 0px 2px white;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
}


.multiselect-dropdown .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-color: #00acc1;
}




.slider-range .ui-widget-header {
    border: 1px solid #00acc1;
    background: #00acc1;
    color: #333333;
    font-weight: bold;
}
 .slider-range .ui-state-active ,.slider-range .ui-widget-content .ui-state-focus{
     border: 1px solid #00acc1 !important;
     background: #00acc1 !important;
     border-radius:50px;
 }

.slider-range .ui-state-default, .slider-range .ui-widget-content .ui-state-default {
    border: 1px solid #040404;
    border-radius:50px;
}
.list-small-group-heading {
    font-size:12px;
    color:black;
    font-weight:bold;
}
/*h4{
    font-size:10px;
    margin-left:25px;
    margin-top:-3px;
    
}*/

.panel-group .panel-body {
    border: 0!important;
    padding: 25px;
    background: #F2F2F2;
}   


.btn-danger {
    color: #ffffff;
    background-color: #00acc1;
    border-color: #00acc1;
    float: left;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open .dropdown-toggle.btn-danger {
    color: #ffffff;
    background-color: #00acc1;
    border-color: #00acc1;
}

.btn-success{
    color: #ffffff;
    background-color: #00acc1;
    border-color: #00acc1;
    float: right;
   
    
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
    color: #ffffff;
    background-color: #00acc1;
    border-color: #00acc1;
}


